<div class="container-fluid">    
    <div class="row main">
        <div class="col-sm-5 col-sm-offset-5 col-md-4">
            <h1 class="title">{{HomeCtrl.title}}</h1>            
            <form class="search">
                <span class="search-icon">
                    <i class="fa fa-search"></i>
                </span> 
                <input class="search--border" type="text" placeholder="Search Music...." />        
            </form>
        </div>        
    </div>
    <div class="row music-list">
        <div class="col-sm-5 col-sm-offset-5 col-md-4 panel panel-default panel-shadow">
            <div class="panel-body">
                <ul>
                    <li>Hope knows no fear</li>
                </ul>
            </div>            
        </div>
    </div>
</div>